<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/admin">Back to List</a>
    </div>
    <div>
      <div class="form-group">
        <label>Ticker</label>
        <div class="form-control">{{tradeReg.ticker}}</div>
      </div>
      <div class="form-group">
        <label>Compnay Name</label>
        <div class="form-control">{{tradeReg.companyname}}</div>
      </div>
      <div class="form-group">
        <label>Market price</label>
        <div class="form-control">{{tradeReg.marketprice}}</div>
      </div>
      <div class="form-group">
        <label>Qunatity</label>
        <div class="form-control">{{tradeReg.quantity}}</div>
      </div>
      <div class="form-group">
        <label>Limit</label>
        <div class="form-control">{{tradeReg.limit}}%</div>
      </div>
      <div class="form-group">
        <label>Ask Price</label>
        <div class="form-control">{{tradeReg.comments}}</div>
      </div>
    </div>
  </div>
  